<template>
  <div class="mb-16">
    <h2 class="text-white text-center text-3xl mb-4 font-bold font-mono">
      Vefügbare Tickets: {{ availableTickets }}
    </h2>
    <div class="relative h-auto">
      <div
        v-if="!showButton"
        class="
          bg-secondary
          h-20
          w-full
          rounded-lg
          absolute
          flex flex-col
          justify-center
        "
      >
        <p
          class="text-3xl text-center transition transition-all duration-1000"
          :class="{
            'text-background': !showButton,
            'text-transparent': showButton,
          }"
        >
          {{ Math.round(timeLeft / 60000) }}m verbleibend
        </p>
      </div>

      <button
        v-if="showButton"
        @click="useTicket"
        class="
          from-primary
          to-secondary
          rounded-lg
          font-bold
          h-20
          w-full
          text-3xl
          transition transition-all
          duration-1000
          absolute
          transform
        "
        :class="{
          'text-background': showButton,
          'text-transparent': !showButton,
          'bg-gradient-to-br': showButton,
          'bg-secondary': !showButton,
          'animate-pulse': isLoading,
          'hover:scale-105': !isLoading,
        }"
      >
        Ticket einlösen
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import { invoke } from "@tauri-apps/api";

type ApplyTicketResponse = {
  success: boolean;
  remaining_tickets: number | null;
  error: string | null;
};

@Options({
  data: () => {
    return {
      availableTickets: 0,
      showButton: true,
      ticketExpires: null,
      timeLeft: null,
      timeUpdater: null,
      isLoading: false,
    };
  },
  mounted: async function () {
    this.update();
  },
  methods: {
    useTicket: async function () {
      this.isLoading = true;
      let response: ApplyTicketResponse = await invoke("apply_ticket");
      console.log(response);
      if (response.success) {
        clearInterval(this.timeUpdater);
        this.ticketExpires = new Date(new Date().getTime() + 45 * 60000);
        this.timeLeft = this.ticketExpires.getTime() - new Date().getTime();
        this.timeUpdater = setInterval(() => {
          this.timeLeft = this.ticketExpires.getTime() - new Date().getTime();
          if (this.timeLeft < 1) {
            this.showButton = true
          }
        }, 1000);
        this.update();
        this.showButton = false;
      } else {
        alert(`Ein Fehler ist aufgetreten: ${response.error}`);
      }
      this.isLoading = false;
    },
    async update() {
      this.availableTickets = await invoke("get_remaining_tickets");
    },
  },
  beforeUnmount: function () {
    clearInterval(this.timeUpdater);
  },
})
export default class Home extends Vue {}
</script>
